{% extends "::layout.html.twig" %}

{% block body %}

<link rel="stylesheet" href="{{ asset('css/fcs_style.css') }}" />
<link rel="stylesheet" href="{{ asset('css/datepicker.css') }}" />
<script type="text/javascript" src="{{ asset('js/vspcompiled.js') }}"></script>

<title>CP Split</title>

<meta http-equiv="content-Type" content="text/html; charset=windows-1252">
</head>
<body topmargin="0" leftmargin="0" background="/images/fond_FCS.gif" marginwidth="0" marginheight="0">

<input type="hidden" name="ticket" id="ticket" value="<TMPL_VAR ticket>">


<table class="COLLAPSE" valign="center" cellspacing="0" cellpadding="2" border="0" align="center" width="600">
  <tbody>
	<tr>
	  <td class="FILTRE_TITRE" colspan="4" align="left">
	  <font class="FILTRE_TITRE">CP Loading Detail Supplier </font></td>
	</tr>
</tbody>
</table>
<br>
	
{% for refData in detailRef %}	
	

	<table class="COLLAPSE" valign="center" cellspacing="0" cellpadding="2" border="0" align="center">
	<input type="hidden" name="delivery_place" id="delivery_place" value="<TMPL_VAR delivery_place>">

	  <tbody>
		<tr>
		  <td class="GTCN" align="center"><div align="left">Loading N&deg;  : * </div></td>
		  <td class="GDN" colspan="3" align="left">{{refData.ref}}</td>
		  <td class="GTCN" align="center"><div align="left">Contact : * </div></td>
		  <td class="GDN" colspan="3" align="left">{{refData.loadingContact}}</td>
		</tr>
		
		<tr>
		  <td class="GTCN" align="center" valign="top" nowrap><div align="left">Loading address : * </div></td>
		  <td class="GDN" colspan="3" align="left">
			<textarea name="h_loading_address" rows="5" class="FILTRE" id="h_loading_address">{{refData.loadingAddress}}</textarea>
		  </td>
		  <td class="GTCN" align="center" valign="top">
		  <div align="left">Whse contact : * </div></td>
		  <td class="GDN" colspan="3" align="left"><textarea name="h_delivery_contact" rows="5" class="FILTRE" id="h_delivery_contact">{{refData.deliveryContact}}</textarea></td>
		</tr>
		<tr>
		  <td class="GTCN" align="center" valign="top"><div align="left">Remark : * </div></td>
		  <td class="GDN" colspan="5" align="left" ><textarea name="h_remarks" cols="50" rows="5" class="FILTRE" id="h_remarks">{{refData.remarks}}</textarea></td>
		</tr>
	  </tbody>
	</table>

	<br>

	<table class="COLLAPSE" valign="center" cellspacing="0" cellpadding="2" border="0" align="center">
	  <tbody>
		<tr>
		  <td class="GTCN" align="center" colspan="45"><div align="left">Estimated </div></td>
		  </tr>
		<tr>
		  <td class="GTCN" align="center"><div align="left">Loading </div></td>
		  <td class="GTCN" align="center"><div align="left">Date/Time  : * </div></td>
		  <td class="GDN" colspan="3" align="left">
		  
		  <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0"><TR>
		  <td><input class="SAISIE" size="11" maxlength="10" name="h_loading_estimated_date" ID="h_loading_estimated_date" value="{{refData.loadingEstimatedDate}}">&nbsp;</td>
          <SCRIPT LANGUAGE="JAVASCRIPT" type="text/javascript">
	      _DP_addToInput('h_loading_estimated_date', 1);
	      </SCRIPT>
		<td>
			<select name="h_loading_estimated_time_hour" id="h_loading_estimated_time_hour" >
				<option value="06">06</option>
				<option value="07">07</option>
				<option value="08">08</option>
				<option value="09">09</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
			</select>
		</td>
		<td>:</td>
		<td>
			<select name="h_loading_estimated_time_minute" id="h_loading_estimated_time_minute">
				<option value="00">00</option>
				<option value="15">15</option>
				<option value="30">30</option>
				<option value="45">45</option>
			</select>
		</td>
		 </tr></table>
		 
		  
		  </td>
		</tr>
		<tr>
		  <td class="GTCN" align="center"><div align="left">Delivery </div></td>
		  <td class="GTCN" align="center"><div align="left">Date/Time  : * </div></td>
		  <td class="GDN" colspan="3" align="left">
		  
		  <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0"><TR>
		  <TD><input class="SAISIE" size="11" maxlength="10" name="h_delivery_estimated_date" ID="h_delivery_estimated_date" value="<TMPL_VAR initial_whse_date>">&nbsp;</td>

	<td>
			<select name="h_delivery_estimated_time_hour" id="h_delivery_estimated_time_hour" >
				<option value="06">06</option>
				<option value="07">07</option>
				<option value="08">08</option>
				<option value="09">09</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
			</select>
		</td>
		<td>:</td>
		<td>
			<select name="h_delivery_estimated_time_minute" id="h_delivery_estimated_time_minute">
			
				<option value="00">00</option>
				<option value="15">15</option>
				<option value="30">30</option>
				<option value="45">45</option>
			</select>
		</td>
		 </tr></table>
		 
		 </td>
	  
		</tr>
		
	  </tbody>
	</table>
 {% endfor %}

<br>

		  
</body></html>

{% endblock %}